@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"); 


 /* color scheme */
 :root {
  --primary-color: #268e8e;
  --offwhite-color: #f4f3f3;
  --secondary-color: #4cbfbf;
  --gray-color: #3e4348;
} 

/* strip links */
a {
    color: #444444;
    text-decoration: none;
}

/* strip ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* get rid of side space */
.container {
    width: 100%;
}

/* default rendering */
body {
  background: #e4e2e2;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */

/* default */
.navbar {
    background: var(--offwhite-color);
    padding: 1em;
}

/* render logo */
.logo {
   text-decoration: none;
   font-weight: bold;
   color: black;
   font-size: 1.2em;
}

.logo span {
    color: var(--primary-color);
}

.account-area .logo span {
    color: var(--secondary-color);
}

/* lay out the navbar (just like home page) */
.navbar .container {
     display: grid;
     grid-template-columns: auto auto;
}

nav {
    justify-content: end;
    width: 100%;
}

nav ul {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    float: right;
}

nav a {
    color: black;
    font-size: 1em;
    padding: 0em 1em;
}

nav li a:hover {
    font-weight: bold;
}

nav li.return-to-home a {
    color: var(--primary-color);
    border: 0.3em solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
}

nav li.return-to-home a:hover {
    background-color: var(--primary-color);
    color: var(--offwhite-color);
}


/* style account-area */

.account-area {
    display: block;
    height: 100%;
    width: 100%;
    margin: 14em auto 0 auto;
}

.account-area .container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 6em;
    background-color: #268e8e;
    border-radius: 10em;
    max-width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.account-area .container .logo {
    margin-bottom: .5em;
}
.account-area .container .form input {
    box-shadow: 0.3em 0.3em 0.3em var(--secondary-color);
    border-radius: 1em;
    padding: .5em 1em;
    width: 60%;
    text-align: center;
    border: .2em solid var(--primary-color)
}

::placeholder {
    color: var(--c, gray);
    font-weight: 550;
}

.account-area .container .form input[type=submit] {
    margin: 1em auto 0 auto;
    width: 30%;
}

.account-area .container .form input[type=submit]:hover {
    cursor: pointer;
}

.account-area .container .form input[type=submit]:active {
    transform: scale(0.95);   
}

/* @media only screen and (max-width: 736px) {

    .account-area .form {
        width: 100%;
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .account-area .container .form input {
        width:67%;
        font-size: .6em;
    }

    .account-area .container .form input[type=submit] {
        width: 35%;
    }
}

@media only screen and (max-width: 580px) {
    .account-area .container .form input {
        width: 90.5%;
        font-size: .5em;
    }

    .account-area .container .form input[type=submit] {
        width: 40%;
    }
} */
