@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;500;600;700&display=swap');

 /* color scheme */
 :root {
  --primary-color: #268e8e;
  --offwhite-color: #f4f3f3;
  --secondary-color: #4cbfbf;
  --gray-color: #3e4348;
} 

* {
    margin: 0;
    padding: 0;
}

/* strip links */
a {
    color: #444444;
    text-decoration: none;
}

/* strip ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* get rid of side space */
.container {
    width: 100%;
}

/* default rendering */
body {
  background: #e4e2e2;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */

/* default */
.navbar {
    background: var(--offwhite-color);
    padding: 1em;
}

/* render logo */
.logo {
   text-decoration: none;
   font-weight: bold;
   color: black;
   font-size: 1.2em;
}

.logo span {
    color: var(--primary-color);
}

/* .account-area .logo span {
    color: var(--secondary-color);
} */

/* lay out the navbar (just like home page) */
.navbar .container {
     display: grid;
     grid-template-columns: auto auto;
}

nav {
    justify-content: end;
    width: 100%;
}

nav ul {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    float: right;
}

nav a {
    font-size: 1em;
    padding: 0em 1em;
}

nav li.log-out a {
    color: var(--primary-color);
    border: 0.3em solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
}

nav li.log-out a:hover {
    background-color: var(--primary-color);
    color: var(--offwhite-color);
}

nav li.toggle-calendar a { 
  color: var(--primary-color);
  border: 0.3em solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-right: .5em;
}

nav li.toggle-calendar a:hover {
  background-color: var(--primary-color);
  color: var(--offwhite-color);
}

/*
TASK LIST
*/

.task-list .X {
    color: rgb(207, 93, 93);
    cursor: pointer;
}

.task-list .container {
    max-width: 33em;
    margin: 10em auto;
    min-height: 20em;
    border: 1px solid var(--secondary-color);
    padding: 2em;
    border-radius: 0.7em;
  }

.task-list .logo {
  margin-left: 0.4em;
}

.task-list .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
  }

.task-list .header .sort {
  margin-left: 7em;
}

.task-list .header .add {
  margin-right: 0.4em;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--offwhite-color);
    border: none;
    box-shadow: 0.3em 0.3em 0.3em var(--secondary-color);
    padding: .625em 1.0em;
    margin: .5m;
    border-radius: 5px;    
    cursor: pointer;
    font-size: 0.92em;
    font-family: inherit;   /* doesn't inherit otherwise */
  }
  
 .btn:active {  /* make interactive */
    transform: scale(0.95);
  }
  
  .task {
    background: var(--offwhite-color);
    margin: 0.3em;
    padding: .625em 1.25em;
  }
  
  .task.highlight {
    border-left: .5em solid var(--secondary-color);
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
  }

  .task .drag-and-drop {
    font-size: .85em;
    margin-bottom: .1em;
    margin-right: .2em;
  }
  .task h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:.9em;
    font-weight: normal;
  }

  .arrow {
    color: var(--primary-color);
    font-size: 1.1em;
    margin-right: .05em;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {   /* fix for small-scale */
    .task-list .container {
        max-width: 80%;
      }
  }

  /* no task msg for no tasks */


.task-list .container {
    text-align: center;
}
 .task-list .container .no-tasks {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.1em;
    margin-top: 5em;
}

/* task adder */

.task-adder {
  display: flex;
  justify-content: space-between;
  background: var(--offwhite-color);
  margin: 0.3em;
  padding: 0.95em;
}

.task-adder .✔ {
  color: var(--primary-color);
  cursor: pointer;
  margin-bottom: .4em
}

.task-adder .left-side {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: .85em;
}

.task-adder .right-side {
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: .33em;
  font-size: 1.1em;
}

.task-adder .left-side input[type=text] {
  font-size: 1.05em;
  margin-bottom: .1em;
}

.task-adder .left-side input[type=text]::placeholder {
  font-weight: 550;
}

.task-adder .left-side input[type=date] {
  font-size: .9em;
  width: 60%;
}

/* SUB-TASKS */

.subtask {
  background: var(--offwhite-color);
  margin: 0.3em;
  padding: .625em 1.25em;
  /* width: 58.9%; */
  width: 60%;
  margin-left: .9em;
  /* border-left: 0.4em solid transparent; */
}

.subtask.highlight {
  border-left: .4em solid var(--secondary-color);
}

.subtask h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .95em;
}

.subtask .X {
  margin-right: -0.5em;
}

.subtask-adder {
  display: flex;
  justify-content: space-between;
  background: var(--offwhite-color);
  margin: 0.3em;
  padding: 0.625em 1.25em;
  width: 60%;
  margin-left: 0.9em;
}

.subtask-input {
  width: 60%;
  font-size: .9em;
  padding-right: .7em;
}

.subtask-adder .✔ {
  color: var(--primary-color);
  cursor: pointer;
  margin-top: .2em;
  margin-right: -0.5em;
  font-size: 0.9em;
}

.subtask-adder-area {
  display: flex;
  margin-top: -.25em;
}

.subtask-adder-area .arrow {
  float: right;
  height: auto;
  margin-left: .3em;
  font-size: 1.4em;
}

.subtask-adder-area .arrow.right {
  margin: .5em 0 .4em 1em;
}

